.News{
    display: flex;
    justify-content: center;
    align-items: center;
    .a{
        background-color: rgb(196, 229, 255);
        text-align: center;
        padding: 1vh 1.5vh 1vh 2vh;
        font-size: 5vh;
        letter-spacing: 1vh;
        margin-top: 2vh;
        margin-right: 2vh;
    }
    .b{
        font-size: 5vh;
        letter-spacing: 1vh;
    }
}