.table{
    margin: 2vh 2vh;
    .mmm{
        display: flex;
        justify-content: space-around;
        h2{
            text-align: center;
        }
        .center{
            width: 20%;
        }
    }
}