.table{
    margin: 2vh 2vh;
    width: auto;
    h2{
        text-align: center;
    }
        .red{
            text-align: center;
            color: red;
            font-weight: bold;
        }
}