.title{
    text-align: center;
    height: 15vh;
    padding: 6vh 0;
    background-color: rgb(77, 149, 237);
    top: -15vh;
    border-radius: 0px 0px 100% 100%;
    letter-spacing: 1vh;
    h2{
        color: white;
        font-size: 5vh;
    }
}