.title{
    text-align: center;
    height: 5vh;
    padding: 3vh 0 5vh 0;
    background-color: rgb(77, 149, 237);
    top: -3vh;
    border-radius: 0px 0px 100% 100%;
    letter-spacing: 1vh;
    h2{
        color: white;
        font-size: 5vh;
        text-align: center;
    }
}